@media screen and (max-width: 338px){
    
body
{
    font-family: 'Raleway'  ;
    margin: unset;
}

#parent_header
{
    width: 338px;
    height: 119px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.logo:nth-child(1)
{
    order: 1;
    position: relative;
    left: 12px;
}

.Hébergements:nth-child(2)
{
    order: 3;
    width: 169px;
    height: auto;
    text-align: center;
    border-bottom: 3px solid gray;
}

.Sinscrire:nth-child(4)
{
    order: 2;
    color: #0065FC;
    font-weight: normal;
    text-align: center;
    height: auto;
    position: relative;
    top: 18px;
    left: 30px;
}

.Activités:nth-child(3)
{
    order: 4;
    text-align: center;
    border-bottom: 3px solid gray;
}

a
{
    text-decoration: none;
    color: #0065FC;
}

.Hébergements:hover
{
    border-bottom: 3px solid #0065FC;
    font-weight: bold;
}

.Activités:hover
{
    border-bottom: 3px solid #0065FC;
    font-weight: bold
}

.Sinscrire:hover
{
    font-weight: bold;
}
/*---------------------------------fin du header-------------------------------*/
#parent_nav
{
    height: 498px;
    width: 338px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




}